<app-banner
  [backgroundImageUrl]="'/assets/project_kiwira.webp'"
  [title]="'Gallery'"
  [breadcrumbs]="['Home', 'Gallery']"
>
</app-banner>

<div class="gallery-wrapper" id="gallery">
  <!-- Show all images (if no section is selected) or images without descriptions -->
  <div class="gallery-container" *ngIf="!section">
    <ng-container *ngFor="let image of images">
      <div class="gallery-item">
        <img [src]="image.src" alt="Gallery Image" class="gallery-image" />
        <div *ngIf="image.description" class="description">
          {{ image.description }}
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Electrical Components Gallery Section -->
  <div class="gallery-container" *ngIf="section === 'Electrical'">
    <ng-container *ngFor="let image of filteredImages">
      <div *ngIf="image.description === 'Electrical component'" class="gallery-item">
        <img
          [src]="image.src"
          alt="Electrical Component"
          class="gallery-image"
        />
        <div *ngIf="image.description" class="description">
          {{ image.description }}
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Hydro Mechanical Equipment Gallery Section -->
  <div class="gallery-container" *ngIf="section === 'Hydromechanical'">
    <ng-container *ngFor="let image of filteredImages">
      <div *ngIf="image.description === 'Hydro mechanical equipment'" class="gallery-item">
        <img
          [src]="image.src"
          alt="Hydro Mechanical Equipment"
          class="gallery-image"
        />
        <div *ngIf="image.description" class="description">
          {{ image.description }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
