<div class="image-slider">
  <div #slider class="slider">
    <div class="slider-item" style="background-image: url('assets/gallery2.jpeg');">
      <div class="overlay"></div> <!-- Dark overlay -->
      <div class="caption">
        <h3 class="subtitle">Our Expertise</h3>
        <h1 class="title">Bell Power International</h1>
        <button class="cta-button" (click)="scrollToContact()">
          Learn More
          <!-- New SVG icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l14 0" />
            <path d="M15 16l4 -4" />
            <path d="M15 8l4 4" />
          </svg>
        </button>
      </div>
    </div>
    <div class="slider-item" style="background-image: url('assets/gallery3.jpeg');">
      <div class="overlay"></div> <!-- Dark overlay -->
      <div class="caption">
        <h3 class="subtitle">Innovative Solutions</h3>
        <h1 class="title">Powering the Future</h1>
        <button class="cta-button" (click)="scrollToContact()">
          Learn More
          <!-- New SVG icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l14 0" />
            <path d="M15 16l4 -4" />
            <path d="M15 8l4 4" />
          </svg>
        </button>
      </div>
    </div>
    <div class="slider-item" style="background-image: url('assets/gallery5.jpeg');">
      <div class="overlay"></div> <!-- Dark overlay -->
      <div class="caption">
        <h3 class="subtitle">Global Reach</h3>
        <h1 class="title">Leading the Industry</h1>
        <button class="cta-button" (click)="scrollToContact()">
          Learn More
          <!-- New SVG icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l14 0" />
            <path d="M15 16l4 -4" />
            <path d="M15 8l4 4" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <button #prevButton class="prev">&#10094;</button>
  <button #nextButton class="next">&#10095;</button>
</div>
