<div class="about-container" id="about">
  <div class="row">
    <!-- Left Column -->
    <div class="col-6 left-column">
      <h3 class="subtitle">About</h3>
      <h1 class="title">Bell Power International</h1>
      <p class="about-text">
        At Bell Power International Ltd, we are dedicated to driving the
        transition to a sustainable future through innovative renewable energy
        solutions. With years of experience in the industry, we specialize in
        the development, management, and engineering of clean energy projects.
        Our services span across a wide range of renewable energy sectors, from
        hydro, solar, wind to biomas, ensuring that we can handle every stage of your project,
        from conception to completion.
      </p>
      <button class="contact-button">
        Contact Us
        <!-- SVG chevron icon inside the button -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l14 0" />
          <path d="M15 16l4 -4" />
          <path d="M15 8l4 4" />
        </svg>
      </button>
    </div>

    <!-- Right Column -->
    <div class="col-6 right-column">
      <div class="service">
        <h4 class="service-subtitle">01.</h4>
        <h5 class="service-title">Renewable Energy Project Management</h5>
        <div class="service-border"></div>
      </div>
      <div class="service">
        <h4 class="service-subtitle">02.</h4>
        <h5 class="service-title">Renewable Energy Engineering Services</h5>
        <div class="service-border"></div>
      </div>
      <div class="service">
        <h4 class="service-subtitle">03.</h4>
        <h5 class="service-title">
          Renewable Energy Project Development Services
        </h5>
        <div class="service-border"></div>
      </div>
      <div class="service">
        <h4 class="service-subtitle">04.</h4>
        <h5 class="service-title">Sustainable Energy Procurement Services</h5>
        <div class="service-border"></div>
      </div>
    </div>
  </div>
</div>
