<div class="mission-container">
  <div class="left-column">
    <h1 class="title">Mission</h1>
    <p class="about-text">
      BPI's mission is to advance sustainable renewable energy by building and sharing
      knowledge on its role in clean energy systems, responsible resource management,
      and climate change solutions.
    </p>
    <p class="about-text">
      We seek to deliver on our mission through advocacy, research, policy
      initiatives, and championing sustainable good practices across all sectors of renewable energy.
    </p>

    <h2 class="subtitle">We achieve this through four strategic objectives:</h2>
    <ul class="mission-list">
      <li>
        <span class="check-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 12l5 5l10 -10" />
            <path d="M2 12l5 5m5 -5l5 -5" />
          </svg>
        </span>
        Advancing policies and strategies that strengthen the renewable energy sector’s
        performance
      </li>
      <li>
        <span class="check-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 12l5 5l10 -10" />
            <path d="M2 12l5 5m5 -5l5 -5" />
          </svg>
        </span>
        Building a vibrant, inclusive, and proactive renewable energy community
      </li>
      <li>
        <span class="check-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 12l5 5l10 -10" />
            <path d="M2 12l5 5m5 -5l5 -5" />
          </svg>
        </span>
        Creating an open, innovative, and trusted platform for knowledge sharing
      </li>
      <li>
        <span class="check-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 12l5 5l10 -10" />
            <path d="M2 12l5 5m5 -5l5 -5" />
          </svg>
        </span>
        Delivering value to members throughout the world
      </li>
    </ul>

    <h3 class="title">Vision</h3>
    <p class="about-text">
      Meeting and delivering needs exceeding our customers' expectations through
      innovative, sustainable energy solutions.
    </p>
  </div>

  <div class="right-column">
    <div class="image-container">
      <img src="assets/gallery1.jpeg" alt="Image 3" class="image-1" />
      <img src="assets/gallery3.jpeg" alt="Image 4" class="image-2" />
    </div>
    <div class="image-container">
      <img src="assets/gallery5.jpeg" alt="Image 3" class="image-3" />
      <img src="assets/gallery2.jpeg" alt="Image 4" class="image-4" />
    </div>
  </div>
</div>
